$color_white: #ffffff;

$color_red: #bc2e3a;

$color_black: #000000;

$color_title: #494949;

$color_subtitle: #6a6a6a;

$color_buttom_text: #242424;

$color_footer_title: #9f9f9f;


$facebook_color: #3b5998;
$vk_color: #4c75a3;
$google_color:#db4a39;
$in_color:#db4a39;
$youtube_color:#c4302b;